body {
	max-width: 1000px;
	padding: 50px 10px;
	margin: auto;
}

div{
	overflow: hidden;
}

.right{
	text-align: left;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
	padding-left: 5px;
	max-width: 850px;
} 
.left{	
	text-align: left;
	float: left;
}
p {
	
}
.navigation_button {
	display: block;
	background-color: red;
	margin-top: 8px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 1.25em;
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


#title{
	min-height: 100px;
	background-color : red;
	position: relative;
}

#title h1{
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: white;
	font-size: 2em;
	font-weight: bold;
}

#content h1{	
	font-size: 1.5em;	
	font-weight: bold;
}
